@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


.App {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================= Header ============================================ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(118, 64, 119, 1);
    padding: 10px 40px;
    position: sticky;
    height: 90px;
    top: 0;
    z-index: 100;
}


nav .title {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    text-decoration: none;

}

nav :hover {
    color: #fff;

}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 2px;
}

nav.stroke ul li a:hover:after {
    width: 50%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.35rem;
    padding-top: 20px;
    margin: 0 0.5rem;
    border-radius: 0.5rem;

}


#mobile i{
    color: #fff;
    align-items: center;
}
#mobile {
   display: none;
}


@media (max-width:768px) {
   
#navbar{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start; 
   position: fixed;
   top: 90px;
   right: -300px;
   width: 300px;
   height: 100vh;
   background-color: rgba(118, 64, 119, 1);
   padding: 40px 0 0 10px;
   transition:0.3s ease-in-out;
}
#mobile {
    display: initial;
 }
#mobile i{
  font-size: 24px;
  cursor: pointer;  
}
#navbar.active{
    right: 0px;
}
}


/* ================================================== Home ============================================= */

#home {
    color: #fff;
    padding-top: 42px;
    font-size: x-large;
}

#wave {
    -webkit-animation-duration: 3.1s;
    animation-duration: 2.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    display: inline-block;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#home-subtitle {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 12px;
    border-right: 4px solid #fff;
    animation: cursor 1s step-start infinite,
        text 4s steps(12) alternate infinite;
}

@keyframes cursor {

    0%,
    100% {
        border-color: #fff;
    }
}

@keyframes text {
    0% {
        width: 0;
    }

    100% {
        width: 18.5ch;
    }
}

#icons li {
    list-style: none;
    padding-bottom: 15px;
    padding-top: 3.2rem;
    font-size: larger;
    
}

#icons ul li a {
    color: rgba(118, 64, 119, 1);
}

#icons ul li a:hover {
    color: #fff;
}

#home-content {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#home-container {
    display: flex;
}

@media (max-width: 768px) {
    #home {
        font-size: large;
        padding-top: 20px;
    }

    #home-content {
        padding: 20px;
    }

    #icons li {
        padding-bottom: 15px;
        padding-top: 1rem;
        font-size: medium;
    }
}

/* =============================================== About ======================================= */

@media (max-width:480px) {
    .about-content {
        text-align: center;

    }
}

img.framed {
    height: 300px;
    width: 300px;
}

/*===================== Wrapper============================== */
.wrapper {
    width: 90%;
    max-width: 900px;
    margin: 3em auto;
    text-align: center;
}

/*====================== Badge =======================*/
.badge {
    margin: 1.5em 3em;
    width: 6.4em;
    height: 6.4em;
    border-radius: 20%;
    display: inline-block;
    top: 0;
    transition: all 0.2s ease;
    box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
    width: 100px;    
    height: 100px;
    background: white;
    position: absolute;
    margin: 15px 16px auto;
    z-index: 10;
    border-radius: 30%;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23)
}
.skills-icons{
    font-size: 80px;
}
/*====================== Colors ========================*/
.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
    background: darkorange;
    color: orange;
}

.gold {
    background: gold;
    color: gold;
}

.red {
    background: red;
    color: red;
}

.purple {
    background: mediumpurple;
    color: slategray;
}

.green {
    background: yellowgreen;
    color: darkslategray;
}

.crimson {
    background: crimson;
    color: firebrick;
}

.steel {
    background: steelblue;
    color: gold;
}

.pink {
    background: hotpink;
    color: palevioletred;
}

.rebecca {
    background: rebeccapurple;
    color: rebeccapurple;
}

.gainsboro {
    background: gainsboro;
    color: orangered;
}

@media (max-width: 768px) {
    .rounded {
        width: 70px;    
        height: 70px;
    }
    .skills-icons{
        font-size: 50px;
    }
}
/*===================================== Reuseable styles ============================================*/

#intro {
    text-align: center;
}

#subtitle {
    color: rgba(118, 64, 119, 1);
}

.read-the-docs {
    color: #888;
}

#btn {
    background-color: rgba(118, 64, 119, 1);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#btn:hover {
    background-color: transparent;
    border: 2px solid rgba(118, 64, 119, 1);
}



/*=============================================== Qualifications ============================================ */

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.25rem;
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    padding-left: 80px;

}


.qualification__subtitle {
    display: inline-block;
    font-size: medium;
    margin-bottom: 0.1rem;
}

.qualification__calendar {
    font-size: medium;

}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgba(118, 64, 119, 1);
    border-radius: 50%;

}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(118, 64, 119, 1);
    transform: translate(6px, -7px);
}

@media screen and (min-width: 1024px) {
    .qualification__data {
        width: 50%;
        margin: 0 auto;

    }
}

@media (max-width:480px) {
    .qualification__data {

        padding-left: 10px;
    }

}


/*==================================================== Services ===================================================*/

.container-services {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}

.container-services .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
    margin: 25px;
}

.container-services:hover .box {
    transform: rotateY(25deg);
}

.container-services .box:hover~.box {
    transform: rotateY(-25deg);
}

.container-services .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container-services .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-services .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff, #000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.container-services .box:hover .imgBx:before {
    opacity: 1;
}

.container-services .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-services .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container-services .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.container-services .box:hover .content h2 {
    transform: translateY(0px);
}

.container-services .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}

.container-services .box:hover .content p {
    transform: translateY(0px);
}

@media (max-width:480px) {
    .container-services {
        width: 300px;
    }

    .container-services:hover .box {
        transform: rotateY(2deg);
    }

    .container-services .box:hover~.box {
        transform: rotateY(2deg);
    }

    .container-services .box:hover {
        transform: rotateY(0deg) scale(1.25);
        z-index: 1;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    }

}

@media (min-width: 768px) {
    .container-services {
        width: 700px;
    }

}

@media (min-width: 1024px) {
    .container-services {
        width: 1160px;
    }

}




/*============================================== Portfolio ============================================ */

.container-portfolio {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

#my-card {
    background: none;
    text-align: center;
    overflow: hidden;
    max-height: auto;

}

#my-card img {
    max-width: 90%;
    height: auto;
    margin-bottom: 10px;
    padding-left: 40px;
    margin-top: 10px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #888;
}

.slick-dots li.slick-active button:before {
    color: #dfdfdf;
}

/*=========================================== Contact ============================================= */

#form {
    padding-bottom: 25px;
    padding-top: 3.2rem;
}

/*=========================================== Footer ===============================================*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(118, 64, 119, 1);
    padding: 10px 40px;
    position: sticky;
    top: 0;

}

footer ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.21rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

#icons a {
    padding-bottom: 25px;
    padding-top: 3.2rem;
    font-size: larger;
    color: #fff;
    margin-right: 20px;

}

#footer-content {
    width: 100%;
    align-items: center;
}

.footer_title {
    width: 100%;
    text-align: center;
    font-size: medium;
}

footer :hover {
    color: #fff;

}